.editProfile > span{
    color: var(--Secondary-2, #DB4444);

/* Title/20PX Medium */
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 140% */
}

.oneinput{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
}
.oneinput input{
    width: 350px;
    padding: 15px;
    flex-shrink: 0;
    border: none;
    outline: none;
    background-color: #f5f5f5;
}
.twoinput{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.editProfile{
    width: 870px;
height: 630px;
padding: 40px;
display: flex;
justify-content: center;
flex-direction: column;
}

#pass input{
    margin-bottom: 30px;
 width: 100%;
}

.Bouttonss{
    width: 100%;
    display: flex;
    justify-content: right;
}

#cancle{
    padding: 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.Bouttonss button {
    margin-left: 10px;}



    .eleditor{
        display: flex;
        width: 100%;
        height: 80vh;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

.the-list{
    margin-right:10%;
    align-self:flex-start ;
    margin-top: 50px;
}
.the-list ul {
    list-style: none;
    color: black;
    cursor: pointer;
}
.the-list ul li{
    margin-bottom:20px;}
    .the-list ul li:hover{
        color: #DB4444;}