
  .contact-child {
    position: absolute;
    top: 142px;
    left: 0;
    width: 1440px;
    height: 0.5px;
  }
  .account {
    position: relative;
    line-height: 21px;
    opacity: 0.5;
  }
  .roadmap-child {
    position: relative;
    width: 6.89px;
    height: 12.2px;
  }
  .nothing1,
  .roadmap-item {
    position: relative;
    display: none;
  }
  .roadmap-item {
    width: 13.19px;
    height: 0;
  }
  .nothing1 {
    line-height: 21px;
  }
  .roadmap {
    position: absolute;
    top: 222px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xs);
    font-size: var(--title-14px-regular-size);
  }
  .place-to-info-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--secondary);
    overflow: hidden;
  }
  .span {
    color: var(--button2);
  }
  .md {
    position: absolute;
    top: 13px;
    left: 16px;
    line-height: 24px;
    opacity: 0.5;
  }
  .placebox-info {
    position: relative;
    width: 235px;
    height: 50px;
  }
  .placebox-info-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .placebox-info3 {
    position: relative;
    width: 737px;
    height: 207px;
  }
  .view-all-products {
    position: relative;
    line-height: 24px;
    font-weight: 500;
  }
  .button {
    border-radius: var(--br-9xs);
    background-color: var(--button2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-base) var(--padding-29xl);
    color: var(--text);
  }
  .frame-group {
    position: absolute;
    top: 40px;
    left: 31px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .contact-inner {
    position: absolute;
    top: 323px;
    left: 504px;
    border-radius: var(--br-9xs);
    background-color: var(--bg);
    box-shadow: var(--categogy-5);
    width: 800px;
    height: 457px;
    overflow: hidden;
  }
  .icons-phone {
    position: relative;
    border-radius: var(--br-12xl);
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icons-phone-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .we-are-available {
    position: relative;
    line-height: 21px;
    display: inline-block;
    width: 262px;
  }
  .we-are-available-247-7-days-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--title-14px-regular-size);
  }
  .underline-icon1 {
    position: relative;
    width: 270px;
    height: 1px;
    opacity: 0.5;
  }
  .icons-mail {
    position: relative;
    border-radius: var(--br-24xl);
    width: 40px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .fill-out-our {
    position: relative;
    line-height: 21px;
    display: inline-block;
    width: 250px;
  }
  .frame-container {
    position: absolute;
    top: 40px;
    left: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
  }
  .frame-div {
    position: absolute;
    top: 323px;
    left: 135px;
    border-radius: var(--br-9xs);
    background-color: var(--bg);
    box-shadow: var(--categogy-5);
    width: 340px;
    height: 457px;
    overflow: hidden;
  }
  .underline-icon2 {
    position: relative;
    width: 1440px;
    height: 1px;
    opacity: 0.5;
  }
  .icon-copyright {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper,
  .icon-copyright-parent,
  .underline-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .icon-copyright-parent {
    gap: var(--gap-7xs);
  }
  .frame-wrapper,
  .underline-parent {
    opacity: 0.6;
  }
  .underline-parent {
    position: absolute;
    top: 376px;
    left: 0;
    flex-direction: column;
    gap: var(--gap-base);
    opacity: 0.4;
  }
  .subscribe {
    position: relative;
    font-size: var(--title-20px-medium-size);
    line-height: 28px;
    font-weight: 500;
    font-family: var(--title-12px-medium);
  }
  .logo-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
  }
  .enter-your-email,
  .get-10-off {
    position: relative;
    line-height: 24px;
  }
  .get-10-off {
    font-size: var(--title-16px-medium-size);
    font-family: var(--title-12px-medium);
  }
  .enter-your-email {
    opacity: 0.4;
  }
  .frame-parent4,
  .send-mail {
    display: flex;
    justify-content: flex-start;
  }
  .send-mail {
    border-radius: var(--br-9xs);
    border: 1.5px solid var(--text);
    box-sizing: border-box;
    width: 217px;
    flex-direction: row;
    align-items: center;
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base);
    gap: var(--gap-13xl);
    font-size: var(--title-16px-medium-size);
    font-family: var(--title-12px-medium);
  }
  .frame-parent4 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
    font-size: var(--heading-24px-bold-size);
    font-family: var(--heading-24px-bold);
  }
  