.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0px;
  border-bottom: #f5f5f5 2px solid;
}
.options {
  display: flex;
  align-items: center;
  list-style: none;
  width: 35%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.options li {
  margin-left: 10px;
  text-decoration: none;
}
.options .link {
  text-decoration: none;
  color: black;
  font-size: 17px;
  transition-duration: 1s;
}

.options .link:hover {
  border-bottom: 1px solid black;
  transform: scale(1.1);
}
.logo {
  font-weight: 700;
  font-size: 25px;
  cursor: pointer;
}

.serach {
  background-color: #f5f5f5;
  display: flex;
  padding: 7px 12px 7px 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.serach input {
  border: none;
  background-color: transparent;
}
.serach i {
  color: black;
}

.navigations i {
  color: black;
  margin-left: 30px;
  font-size: 20px;
  transition-duration: 0.7s;
}
.navigations i:hover {
  transform: scale(1.1);
}

.nav {
  display: flex;
  align-items: center;
}
