.wishlist-screen {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.wishlist-screen .wishlist-2 {
    background-color: var(--bg);
    height: 1400px;
    position: relative;
    width: 1440px;
}

.wishlist-screen .top-header-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
}














.wishlist-screen .frame-21 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 80px;
    left: 135px;
    position: absolute;
    top: 222px;
}

.wishlist-screen .frame-22 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 60px;
    position: relative;
}

.wishlist-screen .frame-23 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 835px;
    position: relative;
}

.wishlist-screen .text-wrapper-20 {
    color: #000000;
    font-family: var(--title-20px-regular-font-family);
    font-size: var(--title-20px-regular-font-size);
    font-style: var(--title-20px-regular-font-style);
    font-weight: var(--title-20px-regular-font-weight);
    letter-spacing: var(--title-20px-regular-letter-spacing);
    line-height: var(--title-20px-regular-line-height);
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.wishlist-screen .design-component-instance-node-4 {
    flex: 0 0 auto !important;
}

.wishlist-screen .frame-24 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 30px;
    position: relative;
}

.wishlist-screen .icon-instance-node-3 {
    height: 24px !important;
    left: 5px !important;
    position: absolute !important;
    top: 5px !important;
    width: 24px !important;
}

.wishlist-screen .frame-25 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 864px;
    position: relative;
}

.wishlist-screen .frame-26 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 16px;
    position: relative;
}
